footer {
  background-color: $color--primary-footer-blue;
  @include flex-center;
  align-items: flex-start;
  padding: 10rem 10rem;
  gap: 10rem;
  @include desktop {
    padding: 10rem 4rem;
    gap: 5rem;
  }
  @include tablet {
    flex-direction: column;
  }

  .footer__logo {
    width: 15rem;
    flex: 1;

    @include tablet {
      flex: auto;
    }
  }
  .footer__link-group {
    @include flex-center;
    align-items: flex-start;
    justify-content: space-between;
    flex: 5;
    gap: 1rem;

    @include tablet {
      flex: auto;
      width: 100%;
      padding-bottom: 10rem;
      border-bottom: $color--pale-cyan-blue solid 2px;
    }

    @include mobile {
      flex-wrap: wrap;
      gap: 4rem;
    }

    .link-group__wrapper {
      @include mobile {
        width: 100%;
      }

      .link-group__title {
        font-size: 2rem;
        color: $color--white;
        font-weight: 400;
        padding-bottom: 2rem;
      }

      .link-group__list {
        @include flex-center-column;
        align-items: flex-start;
        gap: 0.5rem;
        li a {
          font-size: 1.4rem;
          color: #7eb0fb;
        }
      }
    }
  }
}
