@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 483px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1208px) {
    @content;
  }
}
