$color--black: #000000;
$color--cyan-bluish-gray: #abb8c3;
$color--cyan-bluish-gray-2: #717c86;
$color--bgc-gray: #e9ebee;
$color--white: #ffffff;
$color--white-gray: #efeeee;
$color--pale-pink: #f78da7;
$color--vivid-red: #cf2e2e;
$color--luminous-vivid-orange: #ff6900;
$color--luminous-vivid-amber: #fcb900;
$color--light-green-cyan: #7bdcb5;
$color--vivid-green-cyan: #00d084;
$color--pale-cyan-blue: #8ed1fc;
$color--vivid-cyan-blue: #0693e3;
$color--vivid-cyan-blue-hover: #0a7ec2;
$color--vivid-purple: #9b51e0;
$color--primary-blue: #02489e;
$color--primary-bgc-blue: #003f8c;
$color--primary-footer-blue: #002a64;
$color--secondary-blue: #0073ec;
$color--secondary-blue-hover: #0368d5;
$color--blue-subtitle: #bed8fd;
$color--black-text: #0b214a;
